{% extends "base.html" %}

{% block title %} Upload dcm files {% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
{% endblock %}

{% block content %}
<section class="upload-section" id="upload">
  <div class="upload-container">
    <h1>Upload The DICOM Files</h1>
    <p>
      Submit your DICOM files for analysis. Ensure the files are in `.dcm`
      format.
    </p>
    <form
        method="POST"
        action="/upload"
        enctype="multipart/form-data"
        class="upload-form"
        >
        <input type="file" name="files" accept=".dcm" multiple required />
        <button type="submit" class="btn">Upload</button>
    </form>
  </div>
</section>
{% endblock %}
